    <% content_for :title, "User Login Page" %>
    <section >
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <%= image_tag 'premium.png', class: "img-responsive" %>
                    <h3>Our Premium Support</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <%= image_tag 'moniter.png', class: "img-responsive img-max-width" %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>Account Login </h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Username / Email" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Your Password" />
                        </div>
                        <div class="form-group">
                            <a href="user-dashboard.html" class="btn btn-success">Click To Login</a>
                        </div>
                        <a href="#">Forgot Password ?</a>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <%= image_tag 'award.png', class: "img-responsive" %>
                    <h3>Award Winning Company</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <h3> Sign up </h3>
                  <span>Don't have account. Its nothing to worry about. Go to our registration page. Do registration now. Its totally free.</span>
                  <span><%= link_to 'Click here', registration_path%> for registration</span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-4">
                    <%= image_tag 'up.png', class: "img-responsive" %>
                    <h3>We Are Up 24x7 For You</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
                    </p>
                </div>

            </div>
        </div>

    </section>
