    <% content_for :title, "LMC" %>
    <section style="padding:100px 0px 0px 0px;" >
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 ">
                    <div class="alert alert-info">
                        <div class="media">
                        <div class="pull-left">
                            <img src="/assets/admin.png" class="img-responsive" />
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Admin Login Instructions</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. 
                            </p>
                             <a href="index-admin.html" class="btn btn-primary" target="_blank" >Go TO Admin Login</a>
                        </div>
                    </div>
                       
                   
                    </div>
                   <div class="alert alert-danger">
                        <div class="media">
                        <div class="pull-left">
                            <img src="/assets/admin.png" class="img-responsive" />
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">User Login Instructions</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. 
                            </p>
                             <a href="index-user.html" class="btn btn-danger " target="_blank">Go TO User Login</a>
                        </div>
                    </div>
                       
                   
                    </div>
                </div>
                
            </div>

        </div>

    </section>
